
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>index page</title>
    <link rel="stylesheet" href="https://cdn.jsdelivr.xyz/npm/bootstrap@5.3.1/dist/css/bootstrap.min.css"      />
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.0/css/all.min.css"
        integrity="sha512-iecdLmaskl7CVkqkXNQ/ZH/XLlvWZOJyj7Yy7tcenmpD1ypASozpmT/E0iPtmFIB46ZmdtAc9eNBvH0H/ZpiBw=="
        crossorigin="anonymous" referrerpolicy="no-referrer" />
</head>

<body class="bg-light ">
    <div class="container ">
        <div class="row justify-content-center ">
            <div class="col-md-4 ">
                <div class="card mt-5 shadow-lg bg-white rounded ">
                    <div class="card-header text-bg-primary">
                        <label>Register</label>
                        <a style="float: right; text-decoration: underline; font-size: 18px; color: white;" routerLink="">login</a>
                    </div>
                    <div class="card-body ">
                        <form [formGroup]="formData" (ngSubmit)="onSubmit()">
                            <!-- User Name -->
                            <div class="form-floating mb-3" >
                                <input type="text" id="UserName" class="form-control" placeholder="" required minlength="3" formControlName="UserName" formControlName="UserName"
                                [ngClass]="{'is-invalid':
                                    !this.formData.get('UserName')?.valid && this.formData.get('UserName')?.touched }">
                                <label for="UserName">User Name</label>
                                <div *ngIf="!this.formData.get('UserName')?.valid && this.formData.get('UserName')?.touched" class="error">

                                    <div class="text-danger" 
                                    *ngIf="this.formData.get('UserName')?.errors?.['required']">
                                    {{messageVlidate.userName.required}}
                                    </div>

                                    <div class="text-danger" 
                                    *ngIf="!this.formData.get('UserName')?.errors?.['minLength'] && !this.formData.get('UserName')?.errors?.['required']">
                                    {{messageVlidate.userName.minLength}}
                                    </div>

                                    <div class="text-danger" 
                                    *ngIf="!this.formData.get('UserName')?.errors?.['maxLength'] && !this.formData.get('UserName')?.errors?.['required']">
                                    {{messageVlidate.userName.maxLength}}
                                    </div>

                                    <div class="text-danger" 
                                    *ngIf="!this.formData.get('UserName')?.errors?.['invalidUserName'] && !this.formData.get('UserName')?.errors?.['required']">
                                    {{messageVlidate.userName.invalidUserName}}
                                    </div>

                                </div>
                            </div>
                             <!-- Email -->
                             <div class="form-floating mb-3">
                                <input type="Email" id="Email" class="form-control" placeholder=""  formControlName="Email" 
                                [ngClass]="{'is-invalid':
                                    !this.formData.get('Email')?.valid && this.formData.get('Email')?.touched }">
                                <label for="Email">Email</label>
                                <div *ngIf="!this.formData.get('Email')?.valid && this.formData.get('Email')?.touched">

                                    <div class="text-danger"
                                    *ngIf="this.formData.get('Email')?.errors?.['required']">
                                    {{messageVlidate.Email.required}}
                                    </div> 

                                    <div class="text-danger"
                                    *ngIf="this.formData.get('Email')?.errors?.['email']">
                                    {{messageVlidate.Email.notValid}}
                                    </div> 

                                </div>
                            </div>
                            <!-- Password -->
                            <div class="form-floating mb-3">
                                <input type="password" id="PasswordHash" class="form-control" placeholder=""  formControlName="PasswordHash" 
                                [ngClass]="{'is-invalid':
                                    !this.formData.get('PasswordHash')?.valid && this.formData.get('PasswordHash')?.touched }">
                                <label for="password">Password</label>
                                <div class="text-danger" 
                                *ngIf="!this.formData.get('PasswordHash')?.valid && this.formData.get('PasswordHash')?.touched">

                                    <div class="text-danger"
                                    *ngIf="this.formData.get('PasswordHash')?.hasError('required')">
                                    {{messageVlidate.PasswordHash.required}}
                                    </div>

                                    <div class="text-danger"
                                    *ngIf="!this.formData.get('PasswordHash')?.hasError('minLength') && !this.formData.get('PasswordHash')?.hasError('required')">
                                    {{messageVlidate.PasswordHash.minLength}}
                                    </div>
                                    
                                </div>
                            </div>
                            <!-- confirm Password -->
                            <div class="form-floating mb-3">
                                <input type="password" id="confirmPassword" class="form-control" placeholder=""  formControlName="confirmPassword" 
                                [ngClass]="{'is-invalid':
                                    !this.formData.get('confirmPassword')?.valid && this.formData.get('confirmPassword')?.touched 
                                }">
                                <label for="confirmPassword">Confirm Password</label>
                                <div class="text-danger" *ngIf="!this.formData.get('confirmPassword')?.valid && this.formData.get('confirmPassword')?.touched">
                                   
                                    <div class="text-danger"
                                    *ngIf="this.formData.get('confirmPassword')?.hasError('required')">
                                    {{messageVlidate.PasswordHash.required}}
                                    </div>   

                                </div>
                            </div>
                            <!-- Login Button -->
                            <div class="d-grid">
                                <button type="submit" class="btn btn-success" [disabled]="!formData.valid"> <i class="fa fa-sign-in" aria-hidden="true"></i> Register</button>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>


    <script src="../bootstrab/js/bootstrap.bundle.js"></script>


</body>